@import url(https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap);

.footer {
    background-color: #1a1a1a;
    color: #f1f1f1;
    padding: 40px 0;
    font-family: Oxanium
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 10px;
    max-width: 1400px;
    margin: 0 auto;
    font-family: Oxanium
}

.footer-column {
    flex: 1;
    padding: 0 20px;
    margin-bottom: 10px;
    text-align: left;
    text-wrap: nowrap;
    font-family: Oxanium
}

.footer-column h3 {
    margin-bottom: 10px;
    font-size: 18px;
    color: #fff;
    display: flex;
    align-items: center;
    font-family: Oxanium
}

.footer-column p {
    margin: 5px 0;
    color: #dcdcdc;
    font-family: Oxanium
}

.footer-column a {
    color: #dcdcdc;
    text-decoration: none;
    font-family: Oxanium
}

.footer-column a:hover {
    color: #fff;
    text-decoration: underline
}

.footer-bottom {
    text-align: center;
    padding: 20px;
    background-color: #000;
    color: #999;
    font-family: Oxanium;
    margin-top: 20px
}

.footer-bottom a {
    color: #999;
    text-decoration: none;
    font-family: Oxanium
}

.social-icons-footer {
    display: flex;
    flex-direction: row;
    gap: 10px;
    line-height: 10px
}

.social-icons-footer a {
    font-size: 24px;
    text-decoration: none
}

.social-icons-footer a img {
    width: 36px;
    height: 36px;
    object-fit: contain
}

.social-icons-footer a:hover {
    color: #fff
}

.icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    vertical-align: middle
}

@media (max-width:768px) {
    .footer-container {
        flex-direction: column;
        padding: 0 20px;
        align-content: center
    }

    .footer-column {
        margin-bottom: 20px
    }

    .footer-column h3 {
        font-size: .8rem
    }
}

.footer-logo {
    width: 100px;
    height: auto;
    margin-right: 15px
}

.logo-container {
    display: flex;
    gap: 15px;
    justify-content: flex-start
}