@import url(https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap);

* {
    margin: 0;
    padding: 0;
    font-family: Oxanium
}

body {
    background-image: url("../../../img/teamsbg.webp");
    background-size: cover
}

.item img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px
}

.portfolio-menu {
    text-align: center
}

.portfolio-menu ul li {
    display: inline-block;
    margin: 0;
    list-style: none;
    padding: 10px 15px;
    cursor: pointer;
    -webkit-transition: 5s;
    -moz-transition: 5s;
    -ms-transition: 5s;
    -o-transition: 5s;
    transition: .5s
}

.portfolio-item .item {
    float: left;
    margin-bottom: 10px
}

html {
    scroll-behavior: smooth
}